GCGL_Client/WcfService/WcfFileTransfer/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileTransfer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFileTransfer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileTransfer_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IFileTransfer_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IFileTransfer_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="IFileTransfer_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileMessage">
    <wsdl:part name="parameters" element="tns:UploadFileMessage" />
  </wsdl:message>
  <wsdl:message name="UploadFileMessage_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Index" element="tns:Index" />
    <wsdl:part name="SavePath" element="tns:SavePath" />
  </wsdl:message>
  <wsdl:message name="UploadFileReturnMessage">
    <wsdl:part name="parameters" element="tns:UploadFileReturnMessage" />
  </wsdl:message>
  <wsdl:message name="UploadFileReturnMessage_Headers">
    <wsdl:part name="FilePath" element="tns:FilePath" />
    <wsdl:part name="Index" element="tns:Index" />
    <wsdl:part name="Path" element="tns:Path" />
    <wsdl:part name="Stream_ID" element="tns:Stream_ID" />
  </wsdl:message>
  <wsdl:message name="DownloadFileMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileMessage" />
  </wsdl:message>
  <wsdl:message name="DownloadFileMessage_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="FilePath" element="tns:FilePath" />
    <wsdl:part name="Index" element="tns:Index" />
    <wsdl:part name="Path" element="tns:Path" />
  </wsdl:message>
  <wsdl:message name="DownloadFileReturnMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileReturnMessage" />
  </wsdl:message>
  <wsdl:message name="DownloadFileReturnMessage_Headers">
    <wsdl:part name="FileSize" element="tns:FileSize" />
    <wsdl:part name="Index" element="tns:Index" />
    <wsdl:part name="Tag" element="tns:Tag" />
  </wsdl:message>
  <wsdl:message name="IFileTransfer_GetFileList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileList" />
  </wsdl:message>
  <wsdl:message name="IFileTransfer_GetFileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileListResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileTransfer">
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransfer/Hello" message="tns:IFileTransfer_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransfer/HelloResponse" message="tns:IFileTransfer_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransfer/DeleteFile" message="tns:IFileTransfer_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransfer/DeleteFileResponse" message="tns:IFileTransfer_DeleteFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransfer/UploadFile" name="UploadFileMessage" message="tns:UploadFileMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransfer/UploadFileResponse" name="UploadFileReturnMessage" message="tns:UploadFileReturnMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransfer/DownloadFile" name="DownloadFileMessage" message="tns:DownloadFileMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransfer/DownloadFileResponse" name="DownloadFileReturnMessage" message="tns:DownloadFileReturnMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransfer/GetFileList" message="tns:IFileTransfer_GetFileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransfer/GetFileListResponse" message="tns:IFileTransfer_GetFileList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFileTransfer" type="tns:IFileTransfer">
    <wsp:PolicyReference URI="#NetTcpBinding_IFileTransfer_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Hello">
      <soap12:operation soapAction="http://tempuri.org/IFileTransfer/Hello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap12:operation soapAction="http://tempuri.org/IFileTransfer/DeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/IFileTransfer/UploadFile" style="document" />
      <wsdl:input name="UploadFileMessage">
        <soap12:header message="tns:UploadFileMessage_Headers" part="FileName" use="literal" />
        <soap12:header message="tns:UploadFileMessage_Headers" part="Index" use="literal" />
        <soap12:header message="tns:UploadFileMessage_Headers" part="SavePath" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UploadFileReturnMessage">
        <soap12:header message="tns:UploadFileReturnMessage_Headers" part="FilePath" use="literal" />
        <soap12:header message="tns:UploadFileReturnMessage_Headers" part="Index" use="literal" />
        <soap12:header message="tns:UploadFileReturnMessage_Headers" part="Path" use="literal" />
        <soap12:header message="tns:UploadFileReturnMessage_Headers" part="Stream_ID" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://tempuri.org/IFileTransfer/DownloadFile" style="document" />
      <wsdl:input name="DownloadFileMessage">
        <soap12:header message="tns:DownloadFileMessage_Headers" part="FileName" use="literal" />
        <soap12:header message="tns:DownloadFileMessage_Headers" part="FilePath" use="literal" />
        <soap12:header message="tns:DownloadFileMessage_Headers" part="Index" use="literal" />
        <soap12:header message="tns:DownloadFileMessage_Headers" part="Path" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DownloadFileReturnMessage">
        <soap12:header message="tns:DownloadFileReturnMessage_Headers" part="FileSize" use="literal" />
        <soap12:header message="tns:DownloadFileReturnMessage_Headers" part="Index" use="literal" />
        <soap12:header message="tns:DownloadFileReturnMessage_Headers" part="Tag" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <soap12:operation soapAction="http://tempuri.org/IFileTransfer/GetFileList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileTransfer">
    <wsdl:port name="NetTcpBinding_IFileTransfer" binding="tns:NetTcpBinding_IFileTransfer">
      <soap12:address location="net.tcp://202.102.238.46/dnsoft/gcgl/FileSvc/FileTransfer.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://202.102.238.46/dnsoft/gcgl/FileSvc/FileTransfer.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>